/* Styles for the STFQ Asset Manager plugin */
.stfq-asset-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.stfq-asset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.stfq-asset-thumbnail img {
    width: 100%;
    height: auto;
    background: #ddd;
}

.stfq-asset-title {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.stfq-asset-description {
    margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.3em;
}

.stfq-asset-file-type {
    background: #ddd;
    color: #000;
    display: inline-block;
    border-radius: 2px;
    padding: 0 3px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
}

.stfq-asset-download-link a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.stfq-asset-download-link a:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .stfq-asset-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .stfq-asset {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
